[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
localstack = "*"
pytest-repeat = "*"
md-tangle = "*"
sphinx = "*"

[packages]
click = "*"
pyyaml = "*"
boto3 = "*"
pynamodb = "*"

[requires]
python_version = "3.8"
