[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
md-tangle = "*"
click = "*"
sphinx = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
